body{
    /* background-color: #1B5; */
    background-image: url(./images/gambling-chips-on-green-felt.webp);
    background-repeat: no-repeat;
    font-weight: bold;
    text-align: center;
    color: azure;
    height: 100vh;
    width: 100%;
    margin: 0;
    background-position: center;
    background-size: cover;
}
h1{
    color: #E0B44C;
    font-family: Arial,  sans-serif, ;
}
#playel{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
button{
    background-color: goldenrod;
    color: white;
    padding: 10px ;
    border: 0px;
    border-radius: 5px 5px;
    cursor: pointer;
}
button:active{
    background-color: orangered;
}